/Lattice.xcodeproj/xcuserdata/jordanekay.xcuserdatad/xcschemes/xcschememanagement.plist
/Lattice.xcodeproj/xcuserdata/jordanekay.xcuserdatad/xcschemes/Lattice.xcscheme
/Lattice.xcodeproj/xcuserdata/jordanekay.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/Lattice.xcodeproj/project.xcworkspace/xcuserdata/jordanekay.xcuserdatad/WorkspaceSettings.xcsettings
/Lattice.xcodeproj/project.xcworkspace/xcuserdata/jordanekay.xcuserdatad/UserInterfaceState.xcuserstate
/Lattice.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Lattice.safariextz.zip
/Lattice.safariextz