<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>kTwitterProfilesKey</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Twitter Profiles</string>
		<key>Titles</key>
		<array>
			<string>Tweetbot for Mac</string>
		</array>
		<key>Type</key>
		<string>CheckBox</string>
		<key>Values</key>
		<array>
			<string>com.tapbots.TweetbotMacAdHoc</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>kTweetsKey</string>
		<key>Title</key>
		<string>Tweets</string>
		<key>Titles</key>
		<array>
			<string>Dash</string>
		</array>
		<key>Type</key>
		<string>CheckBox</string>
		<key>Values</key>
		<array>
			<string>com.kapeli.dash</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>kAppleDocumentationKey</string>
		<key>Title</key>
		<string>Apple Documentation</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
