<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>Tweetbot for Mac</string>
		<key>Key</key>
		<string>twitterClient</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Twitter Client</string>
		<key>Titles</key>
		<array>
			<string>Tweetbot for Mac</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.tapbots.TweetbotMacAdHoc</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Dash</string>
		<key>Key</key>
		<string>docViewer</string>
		<key>Title</key>
		<string>Documentation Viewer</string>
		<key>Titles</key>
		<array>
			<string>Dash</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>com.kapeli.dash</string>
		</array>
	</dict>
</array>
</plist>
